@config "../tailwind.config.js";

@import "tailwindcss";
@import "@/styles/layouts/components/sidebar.css";
@import "@/styles/layouts/components/Topbar.css";

@layer base {
  html {
    @apply bg-neutral-50 text-neutral-900;
  }

  html.dark {
    @apply bg-neutral-900 text-white;
  }
}
