.flip-card {
  width: 100%;
  max-width: 500px;
  perspective: 1000px;
  margin: auto;
}

.flip-card-inner {
  width: 100%;
  transition: transform 0.6s, height 0.3s;
  transform-style: preserve-3d;
  position: relative;
}

.flip-card-front,
.flip-card-back {
  width: 100%;
  display: block;
  backface-visibility: hidden;
}
.flip-card-back {
  transform: rotateY(180deg);
}
